.search-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Nova Square", cursive;
    height: 100px;
}

.search-box input {
    width: 300px;
    height: 40px;
    font-size: 30px;
    padding: 3px;
    border-radius: 10px;
    margin-top: 10px;
    border-color: #b39656;
    outline: none;
}

.search-posts {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
